<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309719741864-vfi39250u7vjicnq2mqfvkfttr4clhhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309719741864-vfi39250u7vjicnq2mqfvkfttr4clhhp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>309719741864-5k46vr4tt4h52n56ts5v321aqie34atb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCa0JYIUKrdpyKP3zhUZ5T0ynxIxxpdcj8</string>
	<key>GCM_SENDER_ID</key>
	<string>309719741864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rojanshr.notester</string>
	<key>PROJECT_ID</key>
	<string>notester-3be13</string>
	<key>STORAGE_BUCKET</key>
	<string>notester-3be13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:309719741864:ios:53a03a4b73bd00665d999d</string>
</dict>
</plist>
